<div>
  <div class="px-4 py-8 w-full">
    <div class="flex items-center justify-between w-full">
      <div class="w-full">
        <h1 class="font-semibold text-text-muted">NOTIFICAÇÕES · RETOMAR</h1>
        <h1 class="text-3xl font-bold pt-2">Notificações Pendentes</h1>
        <p class="text-text-muted text-sm py-4 ">Consulte todas as notificações pendentes registradas a serem retomadas.
        </p>
        <div class="">
          <form [formGroup]="form" class="w-full flex items-center gap-2 py-2">
            <mat-form-field appearance="outline" class="!w-full " floatLabel="always">
              <mat-label>Carga Horária</mat-label>
              <textarea matInput formControlName="hours" placeholder="..."
                class="!text-xs  !placeholder-text-muted"></textarea>
            </mat-form-field>
          </form>
        </div>

        @if (zone() && !form.invalid){

        <div class="py-4">
          <button (click)="planGeneralRoute()" [disabled]="!zone() || form.invalid"
            class="cursor-pointer bg-primary !font-semibold text-white text-lg rounded-lg w-full h-10 disabled:opacity-50 disabled:cursor-not-allowed">
            Percorrer {{ currentMoment()}}
          </button>
        </div>
        }
      </div>

    </div>
    <div class="flex flex-col gap-6">
      <app-notifications-section (updateZone)="handleUpdateZone($event)"></app-notifications-section>
    </div>
  </div>
</div>