<div>
  <div class="px-4 py-8 w-full">
    <div class="flex items-center justify-between w-full">
      <div class="w-full">
        <h1 class="font-semibold text-text-muted">NOTIFICAÇÕES · RETOMAR</h1>
        <h1 class="text-3xl font-bold pt-2">Notificações Pendentes</h1>
        <p class="text-text-muted text-sm py-4 ">Consulte todas as notificações pendentes registradas a serem retomadas.
        </p>
        <div class="py-4">
          <button (click)="planGeneralRoute()"
            class="cursor-pointer bg-primary !font-semibold text-white text-lg rounded-lg w-full h-10">
            Percorrer {{ currentMoment()}}
          </button>
        </div>
      </div>
      <div>
        <form [formGroup]="form" class="w-full flex flex-col">
          <mat-form-field appearance="outline" class="!w-full !h-36" floatLabel="always">
            <mat-label>Zona</mat-label>
            <textarea matInput formControlName="zone" placeholder="..."
              class="!text-xs !h-28 !min-h-28 !placeholder-text-muted !overflow-y-auto"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" class="!w-full !h-36" floatLabel="always">
            <mat-label>Carga Horária</mat-label>
            <textarea matInput formControlName="hours" placeholder="..."
              class="!text-xs !h-28 !min-h-28 !placeholder-text-muted !overflow-y-auto"></textarea>
          </mat-form-field>

        </form>
      </div>
    </div>
    <div class="flex flex-col gap-6">
      <app-notifications-section [isLoading]="isLoading()"
        [notifications]="notifications()"></app-notifications-section>
    </div>
  </div>
</div>