<div class="bg-white rounded-xl border-1 border-border p-5 shadow-lg">
  <div class="pb-4 flex flex-col gap-2">
    <div class="w-full flex justify-between">
      <div class="flex items-center gap-2">
        <mat-icon class="!text-text-muted !text-lg !h-7">route</mat-icon>
        <h1 class="text-lg font-bold text-text-black">Retomar uma tentativa</h1>
      </div>
      <!-- <h1 class="text-error underline">Mostrando última diligência por tentativa.</h1> -->
    </div>
    <p class="!text-text-muted !text-xs">Clique na tentativa para criar mais uma tentativa.</p>
  </div>
  <div class="flex flex-col gap-3">
    @if (isLoading()) {
    <div class="flex items-center justify-center w-full h-full p-4">
      <div class="spinner"></div>
    </div>
    } @else if (!isLoading() && localDiligences().length == 0) {
    <div class="flex justify-center items-center pb-4">
      <h1>Sem registros...</h1>
    </div>
    } @else if (!isLoading() && localDiligences().length != 0) {
    @for (item of localDiligences(); track item.protocol) {
    <app-diligence-entry [visited]="item.visited" [loadingCancel]="loadingCancel()" (cancelAttempt)="handleCancelAttempt($event)"
      [attemptId]="item.attemptId" [name]="item.debtorName" [window]="item.window"
      [notificatorName]="item.notificatorName" [start]="item.start" [finish]="item.finish"
      [visitNumber]="item.concludedVisitNumber" [diligenceOrdinal]="item.diligenceOrdinal" [protocol]="item.protocol"
      [id]="item.id"></app-diligence-entry>
    }
    }
  </div>
  <div class="flex justify-center items-center pt-4">
    <div class="flex items-center gap-8">
      <mat-icon
        class="{{ hasPreviousPages ? '!text-text-black cursor-pointer' : '!text-text-muted cursor-not-allowed' }}"
        (click)="onPreviousPage()">arrow_back</mat-icon>
      {{ currentPage() }}
      <mat-icon class="{{ hasMorePages ? '!text-text-black cursor-pointer' : '!text-text-muted cursor-not-allowed' }}"
        (click)="onNextPage()">arrow_forward</mat-icon>
    </div>
  </div>
</div>