<div class="flex flex-col gap-4 bg-white rounded-xl border-1 border-border px-6 pt-6 shadow-lg">
  <div class="flex items-center gap-4 ">
    <mat-icon class="!text-text-muted !text-lg !h-7">filter_alt</mat-icon>
    <h1 class="text-lg font-bold text-text-black">Pesquisa com Filtros</h1>
  </div>
  <div class="">
    <div class="flex items-center gap-4">

      <div
        class="flex items-center gap-4 w-2/5 border border-border rounded-lg py-1 px-2 focus-within:border-primary/50 transition-all">
        <mat-icon class="!text-text-muted !text-lg !h-7">search</mat-icon>

        <input type="text" placeholder="Buscar por protocolo..." [value]="searchProtocolValue"
          (input)="onSearchProtocolInput($event)"
          class="w-full text-text-black placeholder-text-black focus:outline-none focus:ring-0 border-none" />
      </div>
      <div
        class="flex items-center gap-4 w-2/5 border border-border rounded-lg py-1 px-2 focus-within:border-primary/50 transition-all">
        <mat-icon class="!text-text-muted !text-lg !h-7">search</mat-icon>

        <input type="text" placeholder="Buscar por devedor..." [value]="searchDebtorValue"
          (input)="onSearchDebtorInput($event)"
          class="w-full text-text-black placeholder-text-black focus:outline-none focus:ring-0 border-none" />
      </div>
    </div>
    <div class="flex items-center gap-4 my-8">


      <mat-form-field appearance="outline" class="!w-1/5">
        <mat-label>Selecione uma Janela</mat-label>
        <mat-select [(value)]="selectedWindow" (selectionChange)="onWindowChange()">
          @for (option of windows; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline" class="!w-1/5">
        <mat-label>Selecione uma Diligência</mat-label>
        <mat-select [(value)]="selectedDiligence" (selectionChange)="onDiligenceChange()">
          @for (option of diligences; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline" class="!w-1/5" floatLabel="always">
        <mat-label>De</mat-label>
        <mat-icon matPrefix class="text-gray-400 !text-lg mr-2">calendar_today</mat-icon>
        <input matInput type="text" placeholder="dd/mm/aaaa" [value]="fromDateValue" (input)="onFromDateInput($event)"
          maxlength="10" class="!text-xs" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="!w-1/5" floatLabel="always">
        <mat-label>Até</mat-label>
        <mat-icon matPrefix class="text-gray-400 !text-lg mr-2">calendar_today</mat-icon>
        <input matInput type="text" placeholder="dd/mm/aaaa" [value]="toDateValue" (input)="onToDateInput($event)"
          maxlength="10" class="!text-xs" />
      </mat-form-field>


      <div class="flex items-center w-1/5 h-14">
        <mat-checkbox [(ngModel)]="diligenceVisited" (change)="onDiligenceVisitedChange()">
          Diligência Visitada
        </mat-checkbox>
      </div>

    </div>
  </div>
</div>