<div class="h-full">
  <div class="px-8 py-8 flex flex-col items-start gap-8">
    <div class="flex items-center justify-between w-full">
      <div>
        <h1 class="font-semibold text-text-muted">TENTATIVAS · PLANEJAMENTO</h1>
        <h1 class="text-3xl font-bold pt-2">Tentativa de cobrança do cliente</h1>
        <p class="text-text-muted text-sm py-4 w-2/3">Registre os endereços de abordagem, distribua até três tentativas
          e envie o roteiro para o notificador.</p>
      </div>
      <div>
        <button (click)="openModal()" [disabled]="!canSendToField()"
          class="cursor-pointer bg-primary !font-semibold text-white text-lg rounded-xl w-52 h-12 disabled:bg-primary/20 disabled:cursor-not-allowed">Mandar
          para
          Campo</button>
      </div>
    </div>
    <div class="h-full flex flex-col gap-6 w-full">
      <div class="w-full h-[500px] ">@if (debtor()) {
        <div class="w-full h-[500px]">
          <app-map-section [debtor]="debtor()!" [addresses]="addresses()">
          </app-map-section>
        </div>
        }
      </div>
      <div class="w-full h-full flex items-start gap-6">
        <app-addresses-section (buildAddress)="onBuildAddress($event)" (ready)="onAddressReady()"
          [isLoading]="isAddressesLoading()" class="w-3/5 h-full " [addresses]="addresses()"></app-addresses-section>
        <app-window (buildWindow)="onBuildWindow($event)" (ready)="onWindowReady()" [isLoading]="isAttemptLoading()"
          [diligences]="diligences()"></app-window>
      </div>
    </div>
  </div>
</div>