<div class=" flex flex-col p-8 gap-4 justify-between w-full ">
    <div class="w-full flex flex-col gap-4">
        <div>
            <h1 class="text-xl">Visualizar observações</h1>
        </div>
        <div class="flex flex-col gap-6 ">
            <div>
                <h1>Sinteze dos Fatos</h1>
                @for (obs of factsObservations(); track $index) {
                <p> - {{obs}}</p>
                }
            </div>

            <div>
                <h1>Observações do Imóvel</h1>
                @for (obs of propertyObservations(); track $index) {
                <p> - {{obs}}</p>
                }
            </div>
            <div>
                <h1>Observações Gerais</h1>
                @for (obs of generalObservations(); track $index) {
                <p> - {{obs}}</p>
                }
            </div>
            <div>
                <h1>Observações Do Planejador</h1>
                <p>{{plannerObservations()}}</p>
            </div>
        </div>
        <div class="w-11/12 border-b-border border-b-1"></div>
        <h1 class="text-lg">Fotos</h1>
        <div class="flex items-center gap-4">
            @if (isLoadingImgs()){
            <div class="flex items-center justify-center w-full h-full p-4">
                <div class="spinner"></div>
            </div>
            } @else {

            @for (item of imageUrls(); track item) {
            <img [src]="item" class="w-24 h-24 object-cover rounded-lg cursor-pointer" (click)="openImage(item)" />
            }
            }
        </div>
        <h1 class="text-lg">Audio</h1>
        @if (isLoadingImgs()){
        <div class="flex items-center justify-center w-full h-full p-4">
            <div class="spinner"></div>
        </div>
        } @else {
        @for (item of audioUrls(); track $index) {
        <div>
            <audio [src]="item" controls></audio>
        </div>
        }
        }
    </div>


    <div class="flex items-center justify-end gap-8 py-4">
        <button (click)="confirm()"
            class="cursor-pointer bg-primary border-1 !font-semibold text-white !text-md rounded-lg w-42 h-10">
            Fechar
        </button>
    </div>
</div>