<div class="w-full flex flex-col p-8 gap-4 justify-between h-full border-1 border-border">
    <form [formGroup]="form" class="w-full flex flex-col gap-4">
        <div>
            <h1 class="text-xl">Criar nova Tentativa</h1>
        </div>
        <div class="flex grid grid-cols-2 gap-6">

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Nome do Devedor</mat-label>
                <input matInput type="text" formControlName="debtorName" placeholder="Nome do devedor..." maxlength="10"
                    class="!text-xs" />
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>RG do Devedor</mat-label>
                <input matInput type="text" formControlName="debtorRg" placeholder="RG do devedor..." maxlength="10"
                    class="!text-xs" />
            </mat-form-field>
            <mat-form-field appearance="outline"  floatLabel="always">
                <mat-label>CPF/CNPJ do Devedor</mat-label>
                <input matInput type="text" formControlName="debtorCpfCnpj" placeholder="CPF/CNPJ do devedor..."
                    maxlength="10" class="!text-xs" />
            </mat-form-field>
            <mat-form-field appearance="outline"  floatLabel="always">
                <mat-label>Protocolo</mat-label>
                <input matInput type="text" formControlName="protocol" placeholder="ID do protocolo..." maxlength="10"
                    class="!text-xs" />
            </mat-form-field>
        </div>
    </form>

    <div>
        @if (errors.length > 0) {
        @for (error of errors; track error) {
        <p class="text-error">{{error}}</p>
        }
        } @else if (isLoading) {
        <div class="flex items-center justify-center w-full h-full p-4">
            <div class="spinner"></div>
        </div>
        }
    </div>

    <div class="flex items-center justify-end gap-8">
        <button (click)="cancel()"
            class="cursor-pointer bg-white border-1 border-error !font-semibold text-error !text-md rounded-lg w-42 h-10">
            Cancelar</button>
        <button (click)="confirm()" [disabled]="isLoading"
            class="cursor-pointer bg-primary !font-semibold text-white !text-md rounded-lg w-42 h-10 disabled:opacity-50">
            Criar</button>
    </div>
</div>