<section class="w-full flex flex-col items-start gap-4 border-1 shadow-lg border-border rounded-xl px-4 pt-4 pb-6 h-full">
    <div class="flex items-center justify-between w-full">
        <div class="flex flex-col items-start gap-2 pb-2">
            <h1 class="text-xl">Endereços do Itinerário</h1>
            <p class="text-xs text-text-muted">{{localAddresses().length}} paradas · ordem como prevista na lista</p>
        </div>

    </div>
    <div  class="w-full flex flex-col gap-4">
        @if (isLoading()) {
        <div class="flex items-center justify-center w-full h-full p-4">
            <div class="spinner"></div>
        </div>
        } @else if (!isLoading() && addresses().length == 0) {
        <div class="flex justify-center items-center pb-4">
            <h1>Sem registros...</h1>
        </div>
        } @else if (!isLoading() && addresses().length != 0) {
        @for (address of localAddresses(); track address) {
        <app-addresses-entry (delete)="deleteAddress($event)"  class="w-full" [order]="address.order" [country]="address.country"
            [state]="address.state" [zipCode]="address.zipCode" [complement]="address.complement"
            [number]="address.number" [street]="address.street" [neighborhood]="address.neighborhood"
            [city]="address.city" [id]="address.id"></app-addresses-entry>
        }
        }
    </div>
</section>