<div class="flex flex-col gap-4 bg-background">

<div
    (click)="onChangeSection()"
    class="flex items-center gap-2 !text-text-muted"
>
    <mat-icon
        class="!text-md"
        [style]="{
            'font-size': '16px',
            'width': '16px',
            'height': '16px'
        }"
    >
        arrow_back
    </mat-icon>

    <p class="cursor-pointer">Voltar para o login</p>
</div>

@if (currentForgotPasswordSection() == 'emailSection') {

    <div class="pb-4">
        <h1 class="text-xl text-quarternary">
            Recuperar Senha
        </h1>

        <p class="text-text-muted">
            Informe o e-mail vinculado à sua conta. Enviaremos um link seguro
            para redefinir a senha.
        </p>
    </div>

    <form
        [formGroup]="emailForm"
        (ngSubmit)="nextSection()"
        class="flex flex-col gap-4"
    >
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Email</mat-label>

            <mat-icon
                matPrefix
                class="text-gray-400 !text-lg mr-2"
            >
                mail
            </mat-icon>

            <input
              autocapitalize="none"
                formControlName="email"
                matInput
                type="email"
                placeholder="Seu email..."
                class="!placeholder-text-muted !text-xs"
            />
        </mat-form-field>

        <button
            type="submit"
            [disabled]="isLoading()"
            class="cursor-pointer bg-primary !font-semibold text-white !text-md rounded-lg w-full h-10 disabled:opacity-50"
        >
            Confirmar
        </button>
    </form>

} @else if (currentForgotPasswordSection() == 'codeSection') {

    <div class="pb-4">
        <h1 class="text-xl text-quarternary">
            Recuperar Senha
        </h1>

        <p class="text-text-muted">
            Informe o código enviado para seu email.
        </p>
    </div>

    <form
        [formGroup]="codeForm"
        (ngSubmit)="nextSection()"
        class="flex flex-col gap-4"
    >
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Código</mat-label>

            <mat-icon
                matPrefix
                class="text-gray-400 !text-lg mr-2"
            >
                mail
            </mat-icon>

            <input
                formControlName="code"
                matInput
                type="text"
                placeholder="Seu código..."
                class="!placeholder-text-muted !text-xs"
            />
        </mat-form-field>

        <button
            type="submit"
            [disabled]="isLoading()"
            class="cursor-pointer bg-primary !font-semibold text-white !text-md rounded-lg w-full h-10 disabled:opacity-50"
        >
            Confirmar
        </button>
    </form>

} @else if (currentForgotPasswordSection() == 'updateSection') {

    <div class="pb-4">
        <h1 class="text-xl text-quarternary">
            Recuperar Senha
        </h1>

        <p class="text-text-muted">
            Atualize sua senha.
        </p>
    </div>

    <form
        [formGroup]="passwordForm"
        (ngSubmit)="nextSection()"
        class="flex flex-col gap-4"
    >
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Senha</mat-label>

            <mat-icon
                matPrefix
                class="text-gray-400 !text-lg mr-2"
            >
                lock
            </mat-icon>

            <input
                formControlName="password"
                matInput
                type="password"
                placeholder="Sua senha..."
                class="!placeholder-text-muted !text-xs"
            />
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Confirmar Senha</mat-label>

            <mat-icon
                matPrefix
                class="text-gray-400 !text-lg mr-2"
            >
                lock
            </mat-icon>

            <input
                formControlName="passwordConfirm"
                matInput
                type="password"
                placeholder="Confirme sua senha..."
                class="!placeholder-text-muted !text-xs"
            />
        </mat-form-field>

        <button
            type="submit"
            [disabled]="isLoading()"
            class="cursor-pointer bg-primary !font-semibold text-white !text-md rounded-lg w-full h-10 disabled:opacity-50"
        >
            Confirmar
        </button>
    </form>

}
</div>
