<div class="px-4  flex flex-col gap-4 bg-background">
    <div class="flex items-center gap-2 !text-text-muted"><mat-icon class="!text-md" [style]="{ 'font-size': '16px', 'width': '16px', 'height': '16px' }">arrow_back</mat-icon>
        <p>Voltar</p>
    </div>
    <div class="pb-4">
        <h1 class="text-xl text-quarternary">Recuperar Senha</h1>
        <p class="text-text-muted">Informe o e-mail vinculado à sua conta. Enviaremos um link seguro para
            redefinir a senha.</p>
    </div>
    <div>
        <form [formGroup]="loginForm" class="flex flex-col gap-4">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix class="text-gray-400 !text-lg mr-2">mail</mat-icon>
                <input formControlName="email" matInput type="text" placeholder="nome@gmail.com.br" class="!text-xs" />
            </mat-form-field>
        </form>
    </div>
    <div>
        <button [disabled]="isLoading()"
            class="cursor-pointer bg-primary !font-semibold text-white !text-md rounded-lg w-full h-10 disabled:opacity-50">
            Entrar</button>
    </div>
</div>