<div>
  <div class="px-4 py-8 flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h1 class="font-semibold text-text-muted">NOTIFICAÇÕES · CAMPO</h1>
        <h1 class="text-xl font-bold">Campo</h1>
        <p class="text-text-muted !text-xs w-full">Diego Nunes · 2ª tentativa · fim de tarde 18:30 — 21:00</p>
      </div>
      <div class="inline-block px-5 py-4 rounded-xl border bg-white border-gray-200 shadow-sm font-sans">
        <h1>
          PROGRESSO
        </h1>

        <h3 class="mt-1 mb-3 text-md font-bold text-slate-900">
          1 de 4 paradas
        </h3>

        <div class="w-full h-1.5 bg-gray-200 rounded-full overflow-hidden">
          <div class="h-full bg-blue-900 rounded-full transition-all duration-300 ease-out" [style.width.%]="25">
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-8">
      <app-map-section [address]="diligence()?.address" [debtor]="debtor()"></app-map-section>
      <app-actions-section [debtor]="debtor()"></app-actions-section>
      <app-support-observations-section 
      [factsObservations]="diligence()?.factsObservations ?? []"
      [generalObservations]="diligence()?.generalObservations ?? []"
      [propertyObservations]="diligence()?.propertyObservations ?? []"
      ></app-support-observations-section>
    </div>
  </div>
</div>