<div>
  <div class="px-4 py-8 flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h1 class="font-semibold text-text-muted">NOTIFICAÇÕES · CAMPO</h1>
        <h1 class="text-xl font-bold">Campo</h1>
        <p class="text-text-muted !text-xs w-full">Diego Nunes · {{diligence()?.diligenceOrdinal}} · {{diligence()?.window}} {{getDateFormatted(diligence()?.start)}}</p>
      </div>
    </div>
    <div class="flex flex-col gap-8">
      <app-map-section [addresses]="addresses()" [debtor]="debtor()"></app-map-section>
      <app-actions-section [notificationId]="notificationId()" [diligence]="diligence()" [debtor]="debtor()"></app-actions-section>
      <app-support-observations-section 
      [factsObservations]="diligence()?.factsObservations ?? []"
      [generalObservations]="diligence()?.generalObservations ?? []"
      [propertyObservations]="diligence()?.propertyObservations ?? []"
      [plannerObservations]="diligence()?.plannerObservations"
      ></app-support-observations-section>
    </div>
  </div>
</div>