<div class="w-full rounded-xl border-1 border-text-muted/50 bg-card-background/30 py-2 shadow-md">
    <div class="flex items-center justify-between w-full px-4">
        <div class="flex items-center gap-4">
            <mat-icon cdkDragHandle class="cursor-grab">drag_indicator</mat-icon>
            <div class="rounded-full bg-quarternary text-surface py-2 px-4 flex items-center justify-center">
                {{ order }}</div>
            <div class="flex flex-col items-start gap-1">
                <p class="text-text-black !font-[600]">{{street}}, {{number}} - {{complement}}</p>
                <p class="text-text-black/50 !text-xs flex items-center"> <mat-icon [style]="{ 'font-size': '16px', 'width': '16px', 'height': '16px' }">location_on</mat-icon>{{neighborhood}} · {{zipCode}}</p>
            </div>
        </div>
        <div>
            <mat-icon class="cursor-pointer">delete</mat-icon>
        </div>
    </div>
</div>