<div>
    <div>
        <div class="bg-primary p-4">{{ order }}</div>
        <p>{{ getFormatedPlace() }}</p>
    </div>
    <p><strong>Id:</strong> {{ id }}</p>
    <p><strong>City:</strong> {{ city }}</p>
    <p><strong>Neighborhood:</strong> {{ neighborhood }}</p>
    <p><strong>Street:</strong> {{ street }}</p>
    <p><strong>Number:</strong> {{ number }}</p>
    <p><strong>Complement:</strong> {{ complement }}</p>
    <p><strong>Zip Code:</strong> {{ zipCode }}</p>
    <p><strong>State:</strong> {{ state }}</p>
    <p><strong>Country:</strong> {{ country }}</p>
    <p><strong>Latitude:</strong> {{ latitude }}</p>
    <p><strong>Longitude:</strong> {{ longitude }}</p>
    <p><strong>Order:</strong> {{ order }}</p>
    <p><strong>Created At:</strong> {{ getFormatedDate(createdAt) }}</p>
    <p><strong>UpdatedAt:</strong> {{ getFormatedDate(updatedAt) }}</p>
    <p><strong>Place:</strong> {{ getFormatedPlace() }}</p>
</div>