<div>
  <div class="px-8 py-8">
    <div class="flex items-center justify-between">
      <div>
        <h1 class="font-semibold text-text-muted">TENTATIVAS · RETOMAR</h1>
        <h1 class="text-3xl font-bold pt-2">Tentativas De Cobrança</h1>
        <p class="text-text-muted text-sm py-4 w-2/3">Consulte todas as tentativas registradas por cliente, com filtros
          por
          status, janela de horário, número da
          tentativa e período.</p>
      </div>
      <div><button class="cursor-pointer bg-primary !font-semibold text-white text-lg rounded-xl w-48 h-12">+ Nova
          Tentativa</button></div>
    </div>
    <div class="flex flex-col gap-6">
      <app-attempts-filtered-search></app-attempts-filtered-search>
      <app-attempts-entries [attempts]="attempts" [hasMorePages]="hasMoreEntriesPages"
        [hasPreviousPages]="hasPreviousEntriesPages" (nextPage)="fetchAttemptsPage($event)"
        (previousPage)="fetchAttemptsPage($event)"></app-attempts-entries>
    </div>
  </div>
</div>