<div class="relative w-full h-full overflow-hidden rounded-xl border-1 border-border shadow-lg">
    <div class="flex items-center gap-4 bg-gradient-to-r from-quarternary to-primary px-6 py-4">
        <mat-icon class="!text-white p-4 bg-text-muted rounded-full box-content">person</mat-icon>
        <div>
            <p class="text-text-muted !font-bold">DEVEDOR</p>
            <h1 class="!text-white text-xl">{{ debtor()?.name}}</h1>
            <p class="!text-white">
                Distância: 
                <span class="!font-bold">{{durationMeters() / 1000 }} km</span>
            </p>
            <p class="!text-white">
                Tempo estimado: 
                <span class="!font-bold">{{durationSeconds() / 60 }} min</span>
            </p>
        </div>
    </div>

@if (mapsReady()) {

<google-map
    height="500px"
    width="100%"
    [center]="origin()"
    [zoom]="14">

    <!-- Origem -->
    <map-marker
        [position]="origin()"
        title="Origem">
    </map-marker>

    <!-- Intermediários -->
    @for (intermediate of intermediates(); track $index) {
        <map-marker
            [position]="intermediate"
            [title]="'Parada ' + ($index + 1)">
        </map-marker>
    }

    <!-- Destino -->
    @if (destination(); as destination) {
        <map-marker
            [position]="destination"
            title="Destino">
        </map-marker>
    }

    <!-- Rota -->
    @if (routePath().length > 0) {
        <map-polyline
            [path]="routePath()"
            [options]="{
                strokeWeight: 5,
                strokeOpacity: 0.9
            }">
        </map-polyline>
    }

</google-map>

}

</div>