<div class="flex flex-col gap-4 w-full h-full p-4 rounded-xl border-1 border-border shadow-lg">
    <div>
        <h1 class="text-text-muted">DEVEDOR</h1>
        <h1>{{debtor()?.name}}</h1>
    </div>
    <div class="flex flex-col gap-2">
        <p>Devedor encontrado?</p>
        <div class="flex items-center gap-4 h-24">
            <div (click)="onFound(true)"
                [ngClass]="debtorFound() === true ? 'border-success !text-success !bg-success/10' : debtorFound() === undefined ? 'border-border' : 'border-border'"
                class="border-1 flex items-center justify-center rounded-xl w-1/2 h-full cursor-pointer">
                <mat-icon>check_circle</mat-icon>
            </div>

            <div (click)="onFound(false)"
                [ngClass]="debtorFound() === false ? 'border-error !text-error !bg-error/10' : debtorFound() === undefined ? 'border-border' : 'border-border'"
                class="border-1 flex items-center justify-center rounded-xl w-1/2 h-full cursor-pointer">
                <mat-icon>cancel</mat-icon>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <h1>Comprovação fotográfica</h1>

        <div class="rounded-xl bg-text-muted/10 border-border border-dashed border-2 gap-3 flex items-center flex-col justify-center w-full h-24"
            (click)="fileInput.click()">
            <mat-icon class="!text-text-muted">photo_camera</mat-icon>
            <h1 class="text-text-muted">Tirar Foto</h1>
        </div>

        <input #fileInput type="file" accept="image/*" capture="environment" hidden (change)="onFileSelected($event)">
        <div class="flex flex-wrap gap-2" *ngIf="photos().length">
            <div *ngFor="let photo of photos(); let i = index" class="relative">
                <img [src]="photo.preview" class="rounded-lg w-20 h-20 object-cover" />
                <button (click)="removePhoto(i)"
                    class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 text-xs">
                    ✕
                </button>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-2">

        <h1>Observações (Audio)</h1>
        <app-audio-recorder (saveAudio)="onSaveAudio($event)"></app-audio-recorder>
        <h1>Observações (Texto)</h1>
        <p class="!italic text-xs text-tertiary pb-2">Separe observações por ponto e virgula (;)</p>
        <form [formGroup]="form" class="w-full flex flex-col">
            <mat-form-field appearance="outline" class="!w-full !h-36" floatLabel="always">
                <mat-label>Sinteze de fatos</mat-label>
                <textarea matInput formControlName="factsObservations" placeholder="..."
                    class="!text-xs !h-28 !min-h-28 !placeholder-text-muted !overflow-y-auto"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="!w-full !h-36" floatLabel="always">
                <mat-label>Observações do Imóvel</mat-label>
                <textarea matInput formControlName="propertyObservations" placeholder="..."
                    class="!text-xs !h-28 !min-h-28 !placeholder-text-muted !overflow-y-auto"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="!w-full !h-36" floatLabel="always">
                <mat-label>Observações Gerais</mat-label>
                <textarea matInput formControlName="generalObservations" placeholder="..."
                    class=" !text-xs !h-28 !min-h-28 !placeholder-text-muted !overflow-y-auto"></textarea>
            </mat-form-field>
        </form>
    </div>
    <div>
        <button (click)="finish()" [disabled]="isLoading()"
            class="cursor-pointer flex items-center justify-center bg-primary !font-semibold text-white !text-md rounded-lg w-full h-10 disabled:opacity-50 disabled:cursor-not-allowed">
            @if(isLoading()) {
            <div class="spinner" style="width: 20px; height: 20px; border-width: 2px;"></div>
            } @else {
            <span>Concluir Parada</span>
            }
        </button>
    </div>
</div>