@import 'tailwindcss';

@theme {
  /* Brand */
  --color-primary: #2196F3;
  --color-secondary: #BBDEFB;
  --color-tertiary: #9E9E9E;
  --color-quarternary: oklch(31.8% .078 259);
  /* UI */
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-border: #D9E0E9;
  --color-card-background: oklch(0.92 0.02 251.98);
  /* Text */
  --color-text-black: #2C2F33;
  --color-text-muted: #98A8BE;

  /* Content on colors */
  --color-on-primary: #FFFFFF;
  --color-on-secondary: #2196F3;
  --color-on-tertiary: #FFFFFF;
  --color-on-background: #333333;
  --color-on-surface: #333333;

  /* Semantic */
  --color-success: #4CAF50;
  --color-warning: #FFEB3B;
  --color-error: #F44336;
  --color-info: #2196F3;
}
.mat-icon {
  font-family: 'Material Icons Outlined' !important;
}
::ng-deep .mat-mdc-form-field {
  height: 40px;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 40px !important;
}

::ng-deep .mdc-text-field--outlined {
  height: 40px !important;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading {
  border-color: #D9E0E9 !important;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline__notch {
  border-top-color: #D9E0E9 !important;
  border-bottom-color: #D9E0E9 !important;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline__trailing {
  border-color: #D9E0E9 !important;
}
::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix {
  min-height: 40px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading {
  border-radius: 12px 0 0 12px !important;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline__trailing {
  border-radius: 0 12px 12px 0 !important;
}
::ng-deep .mat-mdc-select-value {
  font-size: 12px !important;
}

::ng-deep .mat-mdc-option {
  font-size: 12px !important;
}
::ng-deep .mat-mdc-option {
  background-color: #ffffff !important;
}
html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--color-background);
}

.spinner {
  width: 40px;
  height: 40px;
  border: 3px solid #e0e0e0;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}