<section
    class="w-full flex flex-col items-start gap-4 border-1 shadow-lg border-border rounded-xl px-6 pt-4 pb-6 h-full">
    <div class="flex items-center justify-between w-full">
        <div class="flex flex-col items-start gap-2 pb-2">
            <h1 class="text-xl">Endereços da Tentativa</h1>
            <p class="text-xs text-text-muted">{{localAddresses().length}} paradas · ordem como prevista na lista</p>
        </div>
        <div>
            <button [disabled]="newAddressCreated()" (click)="openModal()"
                class="cursor-pointer bg-primary !text-white rounded-xl w-24 h-8 disabled:opacity-50 disabled:cursor-not-allowed">
                Adicionar
            </button>
        </div>
    </div>
    <div class="w-full flex flex-col gap-4">
        @if (isLoading()) {
        <div class="flex items-center justify-center w-full h-full p-4">
            <div class="spinner"></div>
        </div>
        } @else if (!isLoading() && localAddresses().length == 0) {
        <div class="flex justify-center items-center pb-4">
            <h1>Sem registros...</h1>
        </div>
        } @else if (!isLoading() && localAddresses().length != 0) {
        @for (address of localAddresses(); track address; let i = $index) {

        <app-addresses-entry class="w-full" (delete)="deleteNewAddress()" [order]="i + 1" [isNew]="address.new"
            [name]="address.name" [street]="address.street" [number]="address.number"
            [neighborhood]="address.neighborhood" [city]="address.city" [state]="address.state"
            [zipCode]="address.zipCode" [complement]="address.complement" [country]="address.country">

        </app-addresses-entry>

        }
        }
    </div>
</section>